<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProjectLoginApplication"
        tools:targetApi="31">
        <activity
            android:name=".ObygnDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".DocWebsiteActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralSurgeryDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".WebsiteAtivity"
            android:exported="false" />
        <activity
            android:name=".BookingDocViewActivity"
            android:exported="false" />
        <activity
            android:name=".PatientsDashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsDAshboardActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorFormActivity"
            android:exported="false" />
        <activity
            android:name=".CommunicationFormatActivity"
            android:exported="false" />
        <activity
            android:name=".BookinPatientActivity"
            android:exported="false" />
        <activity
            android:name=".PatientPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".DermertologyDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralSurgeryActivity"
            android:exported="false" />
        <activity
            android:name=".VascularDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".PaediatricDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".VascularDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".OrthopedicDpoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".ObsetricsDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".NephrologyDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SpecialitySelectionScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".SplassScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DoctorPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Speciality_Adition_Activity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>